@using EntityLayer.Dtos
@model EntityLayer.Dtos.BlogDto
@{
    Layout = "_BlogLayout";
    ViewBag.Title = Model.Blog.Title;
    ViewBag.Description = Model.Blog.SeoDescription;
    ViewBag.Author = Model.Blog.SeoAuthor;
    ViewBag.Tags = Model.Blog.SeoTags;
}
<link href="~/BlogHome/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="~/BlogHome/css/single.css">
<link href="~/BlogHome/css/style.css" rel='stylesheet' type='text/css' />
<link href="~/BlogHome/css/fontawesome-all.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
      rel="stylesheet">

<!--left-->
<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
    <div class="blog-grid-top">
        <div class="b-grid-top">

            <div class="blog_info_left_grid">
                <!-- Preview Image -->
                <div class="text-center">
                    <img class="img-fluid rounded" src="~/img/@Model.Blog.Thumbnail" alt="@Model.Blog.Title">
                </div>
            </div>
            <div class="blog-info-middle">
                <ul>
                    <li>
                        <a href="#">
                            <i class="far fa-calendar-alt"></i> @Model.Blog.Date.ToShortDateString()
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="#">
                            <i class="far fa-thumbs-up"></i> @Model.Blog.ViewCount
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-comment"></i> @Model.Blog.CommentCount
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- Title -->
        <h1 class="mt-4">@Model.Blog.Title</h1>
        <!-- Author -->
        <p class="lead">@Model.Blog.User.UserName tarafından @Model.Blog.Date.ToShortDateString() tarihinde paylaşılmıştır.</p>
        <!-- Content -->
        @Html.Raw(@Model.Blog.Content)
        @*<p class="text-center">Okunma Sayısı: <span class="badge badge-info">@Model.Blog.ViewCount</span> Yorum Sayısı: <span class="badge badge-warning">@Model.Blog.CommentCount</span></p>*@
    </div>
   <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{BlogId = Model.Blog.Id}"/>
    <hr/>
    <br/>
   <h4>Yorumlar</h4>
   <div id="comments">
       @foreach (var comment in Model.Blog.Comments)
       {
           <div class="comment-top">
               <div class="media">
                   <img class="d-flex mr-3 rounded-circle" src="https://randomuser.me/api/portraits/men/34.jpg" alt="" /> @*"img-fluid"*@
                   <div class="media-body">
                       <h5 class="mt-0">
                           <i class="far fa-user"></i> @comment.CreatedByName
                       </h5>
                       <i class="far fa-clock"></i> @comment.CreatedDate.Date.ToShortDateString()
                       <br />
                       <br />
                       @comment.Content
                   </div>
               </div>
           </div>
       }
   </div>

</div>

@*@section Scripts{
    <script src="~/BlogHome/js/blogDetail.js" type="text/ecmascript"></script>
}*@
<!--//left-->
