@using EntityLayer.Dtos
@model BlogDetailViewModel
@{
    Layout = "_BlogLayout";
    ViewBag.Title = Model.BlogDto.Blog.Title;
    ViewBag.Description = Model.BlogDto.Blog.SeoDescription;
    ViewBag.Author = Model.BlogDto.Blog.SeoAuthor;
    ViewBag.Tags = Model.BlogDto.Blog.SeoTags;
}
<link href="~/BlogHome/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="~/BlogHome/css/single.css">
<link href="~/BlogHome/css/style.css" rel='stylesheet' type='text/css' />
<link href="~/BlogHome/css/fontawesome-all.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
      rel="stylesheet">

<!--left-->
<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
    <div class="blog-grid-top">
        <div class="b-grid-top">

            <div class="blog_info_left_grid">
                <!-- Preview Image -->
                <div class="text-center">
                    <img class="img-fluid rounded" src="~/img/@Model.BlogDto.Blog.Thumbnail" alt="@Model.BlogDto.Blog.Title">
                </div>
            </div>
            <div class="blog-info-middle">
                <ul>
                    <li>
                        <a href="#">
                            <i class="far fa-calendar-alt"></i> @Model.BlogDto.Blog.Date.ToShortDateString()
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="#">
                            <i class="far fa-thumbs-up"></i> @Model.BlogDto.Blog.ViewCount
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-comment"></i> @Model.BlogDto.Blog.CommentCount
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- Title -->
        <h1 class="mt-4">@Model.BlogDto.Blog.Title</h1>
        <!-- Author -->
        <p class="lead">@Model.BlogDto.Blog.User.UserName tarafından @Model.BlogDto.Blog.Date.ToShortDateString() tarihinde paylaşılmıştır.</p>
        <!-- Content -->
        @Html.Raw(Model.BlogDto.Blog.Content)
        @*<p class="text-center">Okunma Sayısı: <span class="badge badge-info">@Model.Blog.ViewCount</span> Yorum Sayısı: <span class="badge badge-warning">@Model.Blog.CommentCount</span></p>*@
    </div>
    <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{BlogId = Model.BlogDto.Blog.Id}" />
    <hr />
    <br />
    <h4>Yorumlar</h4>
    <div id="comments">
        @if(Model.BlogDto.Blog.Comments.Count==0)
            {
                <div class="comment-top">
                    <div class="media">
                        <div class="media-body">
                            <h6>Bu bloğa ait bir yorum henüz yok. Bu bloğa ilk yorum yapan siz olun!</h6>
                        </div>
                    </div>
                </div>
            }
        else
        {
            @foreach (var comment in Model.BlogDto.Blog.Comments)
            {
                <div class="comment-top">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="https://randomuser.me/api/portraits/men/34.jpg" alt="" /> @*"img-fluid"*@
                        <div class="media-body">
                            <h5 class="mt-0">
                                <i class="far fa-user"></i> @comment.CreatedByName
                            </h5>
                            <i class="far fa-clock"></i> @comment.CreatedDate.Date.ToShortDateString()
                            <br />
                            <br />
                            @comment.Content
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<partial name="_BlogDetailRightSideBarPartial" model="@Model.BlogDetailRightSideBarViewModel" />
@*@section Scripts{
        <script src="~/BlogHome/js/blogDetail.js" type="text/ecmascript"></script>
    }*@
<!--//left-->
