@model EntityLayer.Dtos.CommentListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Silinmiş Yorumlar";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Comment" asp-action="DeletedComments">Silinmiş Yorumlar</a></li>
</ol>
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Silinmiş Yorumlar
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="deletedCommentsTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Makale</th>
                    <th>Yorum İçeriği</th>
                    <th>Aktif Mi?</th>
                    <th>Silinmiş Mi?</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Oluşturan Kullanıcı Adı</th>
                    <th>Son Düzenlenme Tarihi</th>
                    <th>Son Düzenleyen Kullanıcı Adı</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>Makale</th>
                    <th>Yorum İçeriği</th>
                    <th>Aktif Mi?</th>
                    <th>Silinmiş Mi?</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Oluşturan Kullanıcı Adı</th>
                    <th>Son Düzenlenme Tarihi</th>
                    <th>Son Düzenleyen Kullanıcı Adı</th>
                    <th>İşlemler</th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var comment in Model.Comments)
                {
                    <tr name="@comment.Id">
                        <td>@comment.Id</td>
                        <td>@comment.Blog.Title</td>
                        <td>@(comment.Content.Length>75 ? comment.Content.Substring(0, 75):comment.Content)</td>
                        <td>@(comment.IsActive ? "Evet" : "Hayır")</td>
                        <td>@(comment.IsDeleted ? "Evet" : "Hayır")</td>
                        <td>@comment.CreatedDate.ToShortDateString()</td>
                        <td>@comment.CreatedByName</td>
                        <td>@comment.ModifiedDate.ToShortDateString()</td>
                        <td>@comment.ModifiedByName</td>
                        <td>
                            <button class="btn btn-warning btn-sm mt-1 btn-undo" data-id="@comment.Id"><span class="fas fa-undo"></span></button>
                            <button class="btn btn-danger btn-sm mt-1 btn-delete" data-id="@comment.Id"><span class="fas fa-minus-circle"></span></button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/AdminLTE/js/deletedComments.js" type="application/ecmascript"></script>
}
@section Styles
{
    
}
