
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <meta name="keywords" content="@ViewBag.Tags" />

    <title>@ViewBag.Title | Fatih's Blog</title>


    <script>
        addEventListener("load",
            function () {
                setTimeout(hideURLbar, 0);
            },
            false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    @await Html.PartialAsync("_LayoutCssPartial")
</head>

<body>
    <!--Header-->
    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <i class="fab fa-linode"></i> Fatih's Blog
                    </a>
                </div>
                @await Html.PartialAsync("_LayoutHeaderLoginPartial")
                <div class="col-md-4 log-icons text-right">
                    <ul class="social_list1 mt-3">
                        <li>
                            <a href="#" class="facebook1 mx-2">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter2">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dribble3 mx-2">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pin">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <partial name="_MainMenuPartial" />
    </header>
    <!--//header-->
    <!--/banner-->
    <!--//banner-->
    <!--/main-->
    @*<section class="main-content-w3layouts-agileits">*@
    <div class="container">
        <div class="row inner-sec">

            @RenderBody()

        </div>
    </div>
    @*</section>*@
    <!--//main-->
    <!--footer-->
    @*@await Html.PartialAsync("_LayoutFooterPartial")*@
    <footer>
        <div class="container">
            <!-- footer -->
            <div class="footer-cpy text-center">
                <div class="footer-social">
                    <div class="copyrighttop">
                        <ul>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                    <span>Google+</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                    <span>Pinterest</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="w3layouts-agile-copyrightbottom">
                    <p class="m-0 text.text-center text-white">
                        © Tüm hakları saklıdır | Fatih's Blog @DateTime.Now.Year
                    </p>
                </div>
            </div>
            <!-- //footer -->
        </div>
    </footer>

    <!---->

    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>


    @await Html.PartialAsync("_LayoutJsPartial")
    @await RenderSectionAsync("Scripts", false)  @*Buradaki false degerimizin amaci RenderSection'in' tüm sayfalarda bulunmasini engellemek *@

</body>

</html>



