
@model EntityLayer.Dtos.CategoryListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Silinmiş Kategoriler";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Category" asp-action="DeletedCategories">Silinmiş Kategoriler</a></li>
</ol>
<div id="modalPlaceHolder" aria-hidden="true"></div>

<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Silinmiş Kategoriler
    </div>
    <div class="card-body">
        <div class="spinner-border text-success" role="status" style="display: none;">
            <span class="sr-only">Yükleniyor...</span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Açıklaması</th>
                        <th>Aktif Mi?</th>
                        <th>Silinmiş Mi?</th>
                        <th>Not</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı Adı</th>
                        <th>Son Düzenlenme Tarihi</th>
                        <th>Son Düzenleyen Kullanıcı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Açıklaması</th>
                        <th>Aktif Mi?</th>
                        <th>Silinmiş Mi?</th>
                        <th>Not</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı Adı</th>
                        <th>Son Düzenlenme Tarihi</th>
                        <th>Son Düzenleyen Kullanıcı</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>

                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr name="@category.Id">
                            <td>@category.Id</td>
                            <td>@category.CategoryName</td>
                            <td>@category.Description</td>
                            <td>@(category.IsActive ? "Evet" : "Hayır")</td>
                            <td>@(category.IsDeleted ? "Evet" : "Hayır")</td>
                            <td>@category.Note</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedByName</td>
                            <td>@category.ModifiedDate.ToShortDateString()</td>
                            <td>@category.ModifiedByName</td>
                            <td>
                                <button class="btn btn-warning btn-sm btn-undo" data-id="@category.Id"><span class="fas fa-undo"></span></button>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@category.Id"><span class="fas fa-minus-circle"></span></button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/AdminLTE/js/deletedCategories.js" type="application/ecmascript"></script>
}
